@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    margin: 0; 
    padding: 0; 
    background-color: rgb(42,42,42);
    font-family: 'Times New Roman', serif;
    scroll-behavior: smooth;
}

